@model Web.Api.Features.Emails.ViewModels.ReviewWasApprovedViewModel
@{
    Layout = "/Views/Shared/_EmailLayout.cshtml";
    ViewData["EmailTitle"] = "Ваш отзыв был одобрен";
    ViewData["PreHeader"] = "Ваш отзыв был одобрен";

    ViewData["CallToActionTitle"] = "Перейти к отзывам";
    ViewData["CallToActionLink"] = "https://techinterview.space/companies/recent-reviews";
}

<p>
    Спасибо за отзыв о компании! Он был одобрен и теперь виден всем
</p>